@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-min-VF.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Serif";
  src: url("../fonts/SourceSerifVariable-Roman.ttf.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --roboto-c2sc: "c2sc" off;
  --roboto-dlig: "dlig" off;
  --roboto-dnom: "dnom" off;
  --roboto-frac: "frac" off;
  --roboto-lnum: "lnum" off;
  --roboto-numr: "numr" off;
  --roboto-onum: "onum" off;
  --roboto-pnum: "pnum" off;
  --roboto-salt: "salt" off;
  --roboto-smcp: "smcp" off;
  --roboto-ss01: "ss01" off;
  --roboto-ss02: "ss02" off;
  --roboto-ss03: "ss03" off;
  --roboto-ss04: "ss04" off;
  --roboto-ss05: "ss05" off;
  --roboto-ss06: "ss06" off;
  --roboto-ss07: "ss07" off;
  --roboto-tnum: "tnum" off;
  --roboto-unic: "unic" off;
  --roboto-cpsp: "cpsp" off;
  --body-font: "Roboto";
  --body-backup: "Open Sans";
  --body-default: sans-serif;
  --font-size: 100%;
  --line-height: 1.25;
  --body-font-size: 1rem;
  --font-weight: "wght" 400;
  --font-width: "wdth" 100;
  --font-italics: "slnt" 0;
  --body-width: 40rem;
  --menu-visibility: hidden;
  --content-justify: left;
  --content-hyphenate: manual;
  --background-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
}

body {
  font-size: 1rem;
  line-height: 1.25;
  font-family: Roboto, "Open Sans", sans-serif;
  text-align: left;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font), var(--body-backup), var(--body-default);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: var(--content-justify);
  -webkit-hyphens: var(--content-hyphenate);
  -ms-hyphens: var(--content-hyphenate);
  hyphens: var(--content-hyphenate);
}

i, em {
  --font-italics: "slnt" -12;
  font-style: italic;
  font-style: var(--font-italics);
}

b, strong {
  --font-weight: "wght" 700;
  font-weight: 700;
  font-weight: var(--font-weight);
}

.content {
  margin: 0 auto;
  width: var(--body-width);
}

p {
  text-indent: 3em;
}
p:first-of-type {
  text-indent: 0;
}

.separator {
  text-align: center;
  text-indent: 0;
  font-size: calc(var(--body-font-size) * 2rem);
}

.desc {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

#menuTitle {
  cursor: pointer;
  width: 5vw;
  z-index: 5;
}

#menu {
  border: 1px solid black;
  padding: 1em;
  width: 15vw;
  z-index: 20;
  visibility: var(--menu-visibility);
  position: absolute;
  float: left;
}
#menu p {
  text-indent: 0;
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.roboto-c2sc {
  --roboto-c2sc: "c2sc" on;
}

.roboto-dlig {
  --roboto-dlig: "dlig" on;
}

@supports (font-variant-ligatures: discretionary-ligatures) {
  .roboto-dlig {
    --roboto-dlig: "____";
    font-variant-ligatures: discretionary-ligatures;
  }
}
.roboto-dnom {
  --roboto-dnom: "dnom" on;
}

.roboto-frac {
  --roboto-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .roboto-frac {
    --roboto-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}
.roboto-lnum {
  --roboto-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .roboto-lnum {
    --roboto-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}
.roboto-numr {
  --roboto-numr: "numr" on;
}

.roboto-onum {
  --roboto-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .roboto-onum {
    --roboto-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}
.roboto-pnum {
  --roboto-pnum: "pnum" on;
}

@supports (font-variant-numeric: proportional-nums) {
  .roboto-pnum {
    --roboto-pnum: "____";
    font-variant-numeric: proportional-nums;
  }
}
.roboto-salt {
  --roboto-salt: "salt" on;
}

.roboto-smcp {
  --roboto-smcp: "smcp" on;
}

@supports (font-variant-caps: small-caps) {
  .roboto-smcp {
    --roboto-smcp: "____";
    font-variant-caps: small-caps;
  }
}
.roboto-ss01 {
  --roboto-ss01: "ss01" on;
}

.roboto-ss02 {
  --roboto-ss02: "ss02" on;
}

.roboto-ss03 {
  --roboto-ss03: "ss03" on;
}

.roboto-ss04 {
  --roboto-ss04: "ss04" on;
}

.roboto-ss05 {
  --roboto-ss05: "ss05" on;
}

.roboto-ss06 {
  --roboto-ss06: "ss06" on;
}

.roboto-ss07 {
  --roboto-ss07: "ss07" on;
}

.roboto-tnum {
  --roboto-tnum: "tnum" on;
}

@supports (font-variant-numeric: tabular-nums) {
  .roboto-tnum {
    --roboto-tnum: "____";
    font-variant-numeric: tabular-nums;
  }
}
.roboto-unic {
  --roboto-unic: "unic" on;
}

@supports (font-variant-caps: unicase) {
  .roboto-unic {
    --roboto-unic: "____";
    font-variant-caps: unicase;
  }
}
.roboto-cpsp {
  --roboto-cpsp: "cpsp" on;
}

/* Apply current state of all custom properties whenever a class is being applied */
.roboto-c2sc,
.roboto-dlig,
.roboto-dnom,
.roboto-frac,
.roboto-lnum,
.roboto-numr,
.roboto-onum,
.roboto-pnum,
.roboto-salt,
.roboto-smcp,
.roboto-ss01,
.roboto-ss02,
.roboto-ss03,
.roboto-ss04,
.roboto-ss05,
.roboto-ss06,
.roboto-ss07,
.roboto-tnum,
.roboto-unic,
.roboto-cpsp {
  font-feature-settings: var(--roboto-c2sc), var(--roboto-dlig), var(--roboto-dnom), var(--roboto-frac), var(--roboto-lnum), var(--roboto-numr), var(--roboto-onum), var(--roboto-pnum), var(--roboto-salt), var(--roboto-smcp), var(--roboto-ss01), var(--roboto-ss02), var(--roboto-ss03), var(--roboto-ss04), var(--roboto-ss05), var(--roboto-ss06), var(--roboto-ss07), var(--roboto-tnum), var(--roboto-unic), var(--roboto-cpsp);
}

/*# sourceMappingURL=master.css.map */
